*{
    font-family: 'Roboto', sans-serif;
}
.glyphicon {
    color:#0069ff;
}
h2{
    font-size: 36px;
    color: #031b4e;
    margin-bottom: 50px;
}



.navbar-default .navbar-brand {
    color: #0069ff;
    height: 60px;
    padding-top: 15px;
    font-size: 25px;
}
#bs-example-navbar-collapse-1{
    margin-right: 25px;
    padding-top: 5px;
}
#marco{
    margin-left: 25px;
}
.navbar-default .navbar-nav > li > a{
    color: #0a2253
}
.navbar button{
    background-color: transparent;
    color:#3f8eff;
    border-color: #3f8eff;
}
.logs{
    width: 170px;
    margin-top: 13px;
}


#firstpage{
    background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
    padding-top: 150px;
    padding-bottom: 65px;
    background-position: bottom;
}
#firstpage .testo{
    background-color: transparent;
    color: #ffffff;
    margin-top: 100px;
}
#firstpage .testo p{
    color: #ccdaff;
    font-size: 25px;
}
#firstpage .testo h1{
    color: #ffffff;
    font-size: 60px;
}
#firstpage input{
    background-color:white;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
    height: 50px;
    border-radius: 5px;
    color:#5c6c8c;
}
#firstpage h3{
    width: 100%;
    font-size: 30px;
    color:#031b4e;
    margin-bottom: 30px;
}
#firstpage .subscribe{
    width: 100%;
    height: 540px;
    padding: 32px;
    background-color: #ffffff;

    line-height: 30px;
}
#firstpage .accounts{
    width: 100%;
    height: 50px;
    background-color:#0069ff;
}
#firstpage .social{
    width: 100%;
    border: 1px solid#cee2ff;
    background-color:#f2f8ff;
    color:#031b4e;
}
#firstpage p{
    font-size: 10px;
}









#secondpage{
    background-color: #f3f5f9;
    padding-top: 50px;
    padding-bottom: 50px;
}
.immagine img{
    background-size: contain;
    width: 170px;
}





#thirdpage{
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}
#thirdpage h2{
    font-size: 36px;
    color:#031b4e;
}
#thirdpage p{
    font-size: 20px;
    color:#546587;
}
#thirdpage .list-group{
    list-style: none;
    line-height: 40px;
    padding-left: 30px;
    border-left: 2px solid grey;
}
#thirdpage .prima{
    border-left: 2px solid #0069ff;
    margin-bottom: 0;
}
#thirdpage .prima p{
    margin-bottom: 0;
}
#thirdpage .jumbotron{
    padding: 10px;
    background-color: transparent;
}
#thirdpage .contenuto{
    padding-top: 50px;
}
#thirdpage h3{
    color: #031b4e;
}
#thirdpage .strong{
    border-left-color: #0069ff;
}




#fourpage{
    background-color: #f3f5f9;
    padding-top: 120px;
    padding-bottom: 120px;
}
#fourpage img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 56vw;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
#fourpage h2{
    color: #031b4e;
    font-size: 36px;
}
#fourpage p {
    color: #4b5c81;
    font-size: 20px;
}
#fourpage h5{
    color: #4b5c81;
    font-size: 15px;
}





#fivepage{
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}

#fivepage .jumbotron{
    padding: 2px;
    background-color: transparent;
}





#sixpage{
    background:#031b4e url(https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg);
    padding-top: 120px;
    padding-bottom: 120px;
}
#sixpage h2{
    color: white;
    margin-bottom: 50px;
}
#sixpage .jumbotron{
    padding: 2px;
    background-color: transparent;
}
#sixpage ul{
    padding: 0;
    border-bottom: 1px solid #354971;;
}
#sixpage ul li{
    list-style: none;
    display: inline;
    line-height: 20px;
    margin-right: 150px;
    color: #97a1b6;
}
#sixpage ul .upper-case{
    font-weight: bold;
    color: #f6f7f9;
}

#sixpage .link{
    float: right;
    margin-right: 10px;
}



#sevenpage {
    padding-top: 120px;
    padding-bottom:120px;
    background-color: #f3f5f9;
}
#sevenpage .jumbotron{
    background-color: #ffffff;
    padding: 30px;
    width: 98%;
    height: 360px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#sevenpage p {
    font-size: 20px;
    color: #4b5c81;
}

#sevenpage img{
    width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 10px;
}
#sevenpage .testojumbo {
    margin-top: 25px;
}







#heightpage{
    background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
    padding-top: 64px;
    padding-bottom: 64px;
}
#heightpage .testo{
    background-color: transparent;
}
#heightpage h2{
    color: #ffffff;
}
#heightpage .create{
    border: none;
    background-color: #ffffff;
    color: #0069ff;
    width: 225px;
    height: 50px;
}



#ninepage{
    background-color: #010e28;
    padding-top: 90px;
    padding-bottom: 90px;
}
#ninepage li.titolo{
    color: #acb0b9;
    line-height: 40px;
}
#ninepage ul{
    float: left;
    margin-right: 129px;
    margin-bottom: 50px;
    list-style: none;
    line-height: 24px;
    font-size: 15px;
    color:#7a818e;
}
#ninepage .foot{
    border-top: 2px solid gray;
}
#ninepage .logo , .twitter{
    margin-top: 32px;
    color: #7e8592;
}
#ninepage p.reserved{
    float:left;
}
#ninepage p.facebook{
    float: right;
}




@media screen and (max-width: 768px) {

    #firstpage {
        background-image: none;
        background-color: #0248ff;
        padding-top: 150px;
        padding-bottom: 65px;
    }

    #firstpage .subscribe{
        transform: none;
        height: 540px;
        padding: 32px;
        background-color: #ffffff;
        line-height: 30px;

    }

}
@media screen and (max-width: 1048px) {

    .navbar-fixed-top{
        background-color: transparent;
        border-bottom: 0px;
        position: absolute;
    }


    .navbar-default .navbar-nav > li > a{
        display: none;
    }
}
