.navbar-default .navbar-brand {
    color: #0069ff;
}
.navbar-default .navbar-nav > li > a{
    color: #0a2253
}
.navbar button{
    background-color: transparent;
    color:
}



#firstpage{
    background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
    padding-top: 100px;
}
#firstpage .testo{
    background-color: transparent;
    color: #ffffff;
}
#firstpage .testo p{
    color: #ccdaff;
}
#firstpage input{
    background-color: red;
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
}
#firstpage h3{
    width: 400px;
}
#firstpage .jumbotron{
    width: 430px;
    padding: 20px;
}




#secondpage{
    background-color: #f3f5f9;
    padding-top: 50px;
    padding-bottom: 50px;
}
.immagine img{
    background-size: contain;
    width: 170px;
}




#thirdpage{
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}
#thirdpage .list-group{
    list-style: none;
    line-height: 40px;
    padding-left: 30px;
    border-left: 2px solid grey;
}
#thirdpage .jumbotron{
    padding: 10px;
    background-color: transparent;
}





#fourpage{
    background-color: #f3f5f9;
}
#fourpage img{
    width: 56vw
}
